body{
    background-image: url('https://exchangerateiq.com/Riq/images/posts/posts_image/1593762776moneyfactor.jpg');
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-bar{
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    column-width: 200px;
    text-align: center;
    grid-template-rows: 1fr;
    background-color: black;
}

#logged-in.nav-bar{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#logged-out.nav-bar{
    grid-template-columns: 1fr 1fr 1fr;
}

#title{
    background-color: rgb(177, 163, 163);
    font-size: 50px;
    text-align: center;
    padding-bottom: .5rem;
    color: white;
}

.headers{
    font-size: 20px;
    width: 100%;
    text-align: center;
    /*border: 2px rgb(191, 191, 197) solid;*/
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
}
.headers:visited{
    background-color: none;
    color: none;
}
.headers:hover{
    background-color: rgb(177, 163, 163);
}

.field{
    border-radius: 10px;
    background-color: rgb(205, 205, 214);
    width: 350px;
    height: 350px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
}

.pop-up{
    border-radius: 5px;
    background-color: black;
    height: 300px;
    
    color: white;
}

.input{
    background-color: rgba(206, 197, 197, 0.514);
    border-radius: 25px;
} 

.contents{
    position:relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.box{
    font-weight: 400;
    font-size: 15px;
    border: rgb(177, 163, 163) solid 1px;
    overflow-y: auto;
}

.red.box{
    color: red;
}

.transactions-field{
    border-radius: 5px;
    background-color:#14365d93;
    width: 40rem;
    height: auto;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 200px auto auto auto;
    padding-top: 50px;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
    display: grid;
}

.payment-field{
    border-radius: 5px;
    background-color:#14365d93;
    width: 350px;
    height: 250px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
}

.log-out-field{
    border-radius: 5px;
    background-color:#14365d93;
    width: 350px;
    height: 250px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
}

.payment-input{
    border-radius: 25px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.request.grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.requestResult{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: center;
}

.button{
    font-size: 15px;
    box-shadow: 5px 10px 50px rgb(255, 255, 255);
}

.accept{
    background-color: white;
}

.decline{
    background-color: #ff8888;
}

.loading{
    font-size: 30px;
}