#main{
    grid-area: content;
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    gap: .1rem .3rem;
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "home signup login"
    "logout tran payment";
    background-color: black;
}
#indexheader{
    grid-area: content;
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    column-width: 200px;
    text-align: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
}

.Popupcontent{
    border-radius: 5px;
    background-color:black;
    width: 350px;
    height: 250px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px white;
      
  }

body{
    background-image: url('https://exchangerateiq.com/Riq/images/posts/posts_image/1593762776moneyfactor.jpg') center center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title{
    background-color: rgb(177, 163, 163);
    font-size: 50px;
    text-align: center;
    padding-bottom: .5rem;
    color: white;
    /*width: 1262.8px;
    height: 629.2px;
    background-image: url('https://exchangerateiq.com/Riq/images/posts/posts_image/1593762776moneyfactor.jpg');
    */
}

#home{
    grid-area: home;
}
#login{
    grid-area: login;
}
/*#logout{
    grid-area: logout;
}*/
/*#tran{
    grid-area: tran;
}*/
/*#payment{
    grid-area: payment;
}*/
#signup{
    grid-area: signup;
}
#photo{
    width: 1262.8px;
    height: 500px;

}


.headers{
    font-size: 20px;
    width: 100%;
    text-align: center;
    /*border: 2px rgb(191, 191, 197) solid;*/
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
}
.headers:visited{
    background-color: none;
    color: none;
}
.headers:hover{
    background-color: rgb(177, 163, 163);
    /*color: grey;*/
}
