 .log-in{
    border-radius: 10px;
    background-color: rgb(205, 205, 214);
    width: 350px;
    height: 350px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);

}

.contents{
  position:relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  
}

input{
    background-color: rgba(206, 197, 197, 0.514);
    border-radius: 25px;
} 