.container1{
    border-radius: 10px;
    background-color:#14365d93;
    width: 350px;
    height: 250px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
}

#contains{
    position:relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}