.Popup{
    border-radius: 5px;
    background-color: black;
    width: 350px;
    height: 300px;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 250px auto auto auto;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
    
    color: white;
}

.contents{
    position:relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

.button1{
    font-size: 15px;
    box-shadow: 5px 10px 50px rgb(255, 255, 255);
}