#main{
    grid-area: content;
    padding-top: .35em;
    padding-bottom: .35em;
    display: grid;
    gap: .1rem 3rem ;
    grid-template-rows: 1fr  ;
    grid-template-columns: auto auto auto auto ;

    grid-template-areas: 
    "home signup login"
    "logout tran req payment";
    background-color: black;
}

body{
    background-image: url('https://exchangerateiq.com/Riq/images/posts/posts_image/1593762776moneyfactor.jpg');
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#title{
    background-color: rgb(177, 163, 163);
    font-size: 50px;
    text-align: center;
    padding-bottom: .5rem;
    color: white;
    /*width: 1262.8px;
    height: 629.2px;
    background-image: url('https://exchangerateiq.com/Riq/images/posts/posts_image/1593762776moneyfactor.jpg');
    */
}

#transactions{
    grid-area: transactions;
}
#makepayment{
    grid-area: makepayment;
}
#makerequest{
    grid-area: makerequest;
}

#logout{
    grid-area: logout;
}
#photo{
    width: 1262.8px;
    height: 500px;

}


.headers{
    font-size: 20px;
    width: 100%;
    text-align: center;
    /*border: 2px rgb(191, 191, 197) solid;*/
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
}
.headers:visited{
    background-color: none;
    color: none;
}
.headers:hover{
    background-color: rgb(177, 163, 163);
    /*color: grey;*/
}