.transactionsbox{
    border-radius: 10px;
    background-color:#14365d93;
    width: 40rem;
    height: auto;
    padding: 4px;
    border: rgb(26, 22, 22);
    
    margin: 200px auto auto auto;
    padding-top: 50px;
    text-align: center;
    box-shadow: 5px 10px 50px rgb(160, 156, 158);
    display: grid;

}

.contents{
    position:relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    
  }

  .title{
    background-color: rgba(206, 197, 197, 0.514);
    border-radius: 25px;
  
} 

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "senderbox recipientbox amountbox typebox";
}
.recipientbox{
  grid-area: recipientbox;
  font-weight: 400;
  font-size: 15px;
  color: black !important;
  border: rgb(177, 163, 163) solid 1px;
  overflow-y: none;
  overflow-y: auto;
}
.senderbox{
  grid-area: senderbox;
  font-weight: 400;
  font-size: 15px;
  color: black !important;
  border: rgb(177, 163, 163) solid 1px;
  overflow-y: none;
  overflow-y: auto;
}
.amountbox{
  grid-area: amountbox;
  font-weight: 400;
  font-size: 20px;
  color: black !important;
  border: rgb(177, 163, 163) solid 1px;
  overflow-y: none;
  overflow-y: auto;
}

.typebox{
  grid-area: typebox;
  font-weight: 400;
  font-size: 20px;
  color: black !important;
  border: rgb(177, 163, 163) solid 1px;
  overflow-y: none;
  overflow-y: auto;
}

